/* Peyda */
@font-face {
  font-family: "Peyda";
  src: url("./font/peyda/Peyda-Thin.ttf") format("truetype");
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: "Peyda";
  src: url("./font/peyda/Peyda-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: "Peyda";
  src: url("./font/peyda/Peyda-Light.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Peyda";
  src: url("./font/peyda/Peyda-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Peyda";
  src: url("./font/peyda/Peyda-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Peyda";
  src: url("./font/peyda/Peyda-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Peyda";
  src: url("./font/peyda/Peyda-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Peyda";
  src: url("./font/peyda/Peyda-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "Peyda";
  src: url("./font/peyda/Peyda-Black.ttf") format("truetype");
  font-weight: 900;
  font-display: swap;
}


/* Yekan Bakh */
@font-face {
  font-family: "YekanBakh";
  src: url("./font/yekan-bakh/YekanBakh-Thin.ttf") format("truetype");
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: "YekanBakh";
  src: url("./font/yekan-bakh/YekanBakh-Light.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "YekanBakh";
  src: url("./font/yekan-bakh/YekanBakh-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "YekanBakh";
  src: url("./font/yekan-bakh/YekanBakh-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "YekanBakh";
  src: url("./font/yekan-bakh/YekanBakh-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "YekanBakh";
  src: url("./font/yekan-bakh/YekanBakh-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "YekanBakh";
  src: url("./font/yekan-bakh/YekanBakh-Black.ttf") format("truetype");
  font-weight: 900;
  font-display: swap;
}
